.color_picker {
  --thumb: #{size(4)};

  display: none;
  position: absolute;
  width: size(48);
  z-index: 1000;
  border-radius: rounded("base");
  background-color: var(--ui-surface-color);
  box-shadow: 0 0 0 1px var(--ui-on-surface-color-lightest), var(--ui-box-shadow-lg);
  user-select: none;

  &-open {
    display: block;
  }

  &-gradient {
    position: relative;
    width: 100%;
    height: size(24);
    margin-bottom: size(3);
    border-radius: rounded("base") rounded("base") 0 0;
    background-image: #{"linear-gradient(rgba(0,0,0,0), #000), linear-gradient(90deg, #fff, currentColor)"};
    cursor: pointer;
  }

  &-marker {
    position: absolute;
    width: size(3);
    height: size(3);
    margin: size(-1.5) 0 0 size(-1.5);
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: currentColor;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  input[type="range"] {
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--thumb);
    }

    &::-webkit-slider-thumb {
      width: var(--thumb);
      height: var(--thumb);
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--thumb);
      border: 0;
    }

    &::-moz-range-thumb {
      width: var(--thumb);
      height: var(--thumb);
      border: 0;
    }
  }

  &-hue {
    background-image: #{"linear-gradient(to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%)"};
  }

  &-hue,
  &-alpha {
    position: relative;
    height: size(2);
    margin: size(3) size(4);
    border-radius: rounded("base");
  }

  &-alpha span {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-image: #{"linear-gradient(90deg, rgba(0,0,0,0), currentColor)"};
  }

  &-hue input[type="range"],
  &-alpha input[type="range"] {
    position: absolute;
    width: calc(100% + 2 * var(--thumb));
    height: var(--thumb);
    left: calc(-1 * var(--thumb));
    top: calc((#{size(2)} - var(--thumb)) / 2);
    margin: 0;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }

  &-hue div,
  &-alpha div {
    position: absolute;
    width: var(--thumb);
    height: var(--thumb);
    left: 0;
    top: 50%;
    margin-left: calc(var(--thumb) / -2);
    transform: translateY(-50%);
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: currentColor;
    pointer-events: none;
  }

  &-swatches {
    margin: 0 size(4);
    border-top: 1px solid var(--ui-on-surface-color-lightest);
    display: flex;
    flex-wrap: wrap;
    gap: size(2);
    padding: size(3) 0;

    &.color_picker-empty {
      display: none;
    }

    button {
      position: relative;
      width: size(5);
      height: size(5);
      padding: 0;
      border: 0;
      border-radius: 50%;
      color: inherit;
      text-indent: -1000px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: inherit;
        background-color: currentColor;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
      }
    }
  }

  &-marker,
  &-hue div,
  &-alpha div {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px inset var(--ui-on-surface-color-lighter), 0 0 0 1px var(--ui-on-surface-color-lighter);
  }

  &-field {
    display: inline-block;
    position: relative;
    color: transparent;

    > input {
      margin: 0;
      direction: ltr;
    }

    > span {
      position: absolute;
      width: size(8);
      height: 100%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      border: 0;
      color: inherit;
      text-indent: -1000px;
      white-space: nowrap;
      overflow: hidden;
      pointer-events: none;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: inherit;
        background-color: currentColor;
        box-shadow: inset 0 0 0 1px var(--ui-on-surface-color-lighter);
      }
    }
  }

  &-alpha,
  &-swatches button,
  &-field > span {
    background-image: #{"repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa)"};
    background-position: 0 0, size(1) size(1);
    background-size: size(2) size(2);
  }

  &-keyboard_nav .color_picker-marker:focus,
  &-keyboard_nav .color_picker-hue input:focus + div,
  &-keyboard_nav .color_picker-alpha input:focus + div {
    outline: none;
    box-shadow: 0 0 0 2px var(--ui-selection-color), 0 0 2px 2px #fff;
  }

  &-no_alpha .color_picker-alpha {
    display: none;
  }
}
