.color_input {
  .color_picker-field {
    color: var(--placeholder-color, transparent);
    box-sizing: border-box;
    width: 100%;
  }

  .color_picker-field > input {
    padding-left: size(8);
    width: 100%;
    height: auto;
  }

  .color_picker-field > span {
    left: size(1.5);
    width: size(5);
    height: size(5);
  }

  &.is_default .color_picker-field > input {
    color: var(--ui-on-surface-color-light);
  }

  .color_picker-field:focus-within > input {
    color: var(--ui-on-surface-color);
  }
}
